body {
    background-color: gainsboro;
    margin: 25px;
}
.cards {
    display: flex;
    flex-wrap: wrap;
}
.card-text {
    font-style: italic;
}
.coach {
    margin: 10px;
    padding: 5px;
    color: Navy;
    width: 18rem;
    border-radius:8px;
}
.rink {
    margin: 10px;
    padding: 5px;
    width: 80vw;
    color: black;
}
.btn-danger {
    background-color: darkred;
    border-color: darkred;
}
.btn-close {
    float: right;
    width: 2px;
    height: 2px;
    padding: 5px;
}
.btn-close:hover {
    opacity: 1;
}
#pencil {
    width:12px;
}
.pencil {
    float: right
}
.pencil:hover {
    background-color: grey;
    border-radius: 50px;
}
.alert {
    border-radius: 50px;
}
.alert-danger {
    background-color: darkred;
    border-color: darkred;
    color: whitesmoke;
}
.alert-success {
    background-color: gold;
    border-color: gold;
    color: black;
    font-size: 110%;
    font-weight: 500;
}
.cdata {
    color: darkcyan; 
    border: 2px solid darkcyan;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
}