{% extends 'base.template.html' %}

{%block content%}


<div class="container-fluid justify-content-between text-center">
    <h3>Welcome to IIFSC's Figure Skating Community Resource Initiative</h3>
    <a class="btn btn-dark my-2 mx-2" href="{{ url_for('coaches_list')}}">Find a Coach</a>
    <a class="btn btn-dark my-2 mx-2" href="{{ url_for('students_list')}}">Connect with Skaters</a>
    <a class="btn btn-dark my-2 mx-2" href="{{ url_for('rinks_list')}}">Skating Resources</a>
</div>

{%endblock%}