{% extends 'base.template.html' %}

{%block content%}

<h3>Skater {{skater.student_fname}} {{skater.student_lname}}</h3>
<div class="container">
    <img class="card-img-top" src="#" alt="{{skater.student_fname}} {{skater.student_lname}}" />
    <h5>{{skater.nation}}</h5>
    <h6>{{skater.skate_level}}</h6>
    <h6>{{skater.date_of_birth.dob_day}} {{skater.date_of_birth.dob_month}} {{skater.date_of_birth.dob_year}} (Age {{skater.age}})</h6>
    <h6>{{skater.student_email}}</h6>
    <h6>{{skater.student_phone}}</h6>
    <h6>{{skater.competition_data}}</h6>
</div>
<hr>
<h4>Competition Data</h4>
<div>
    <a href="{{ url_for('students_list')}}" class="btn btn-outline-dark mt-3" type="button"> Back</a>
</div>
{%endblock%}