{% extends 'base.template.html' %}

{%block content%}

<h3>Skater {{skater.student_fname}} {{skater.student_lname}}</h3>
<div class="container">
    <img class="card-img-top" src="#" alt="{{skater.student_fname}} {{skater.student_lname}}" />
    <h5>{{skater.nation}}</h5>
    <h6>{{skater.skate_level}}</h6>
    <h6>{{skater.date_of_birth.dob_day}} {{skater.date_of_birth.dob_month}} {{skater.date_of_birth.dob_year}} (Age
        {{skater.age}})</h6>
    <h6>{{skater.student_email}}</h6>
    <h6>{{skater.student_phone}}</h6>
</div>
<div>
    <a href="{{ url_for('students_list')}}" class="btn btn-outline-dark mt-3"> Back</a>
    <a href="{{ url_for('add_comp', student_id=skater._id)}}" class="btn btn-warning mt-3">Add Competition Data</a>
</div>
<hr>
<h4>Competition Data</h4>
{% for c in skater.competition_data|reverse %}
<div class="container cdata">
    <ul>
        <li>
            <a href="#" class="del-icon fas fa-trash-alt" data-bs-toggle="modal" data-bs-target="#del_comp"></a>
            <a href="{{url_for('update_competition', student_id=skater._id, comp_id=c.comp_id)}}"
                class="edit-icon fas fa-user-edit"></a>
            <div class="row">
                <h5>{{c.comp_year}} {{c.comp_title}}</h5>
            </div>
            <div class="row">
                <h6> ({{c.category}}) Executed Elements Sequence </h6>
            </div>
            <div class="row col eec">
                <div class="form-group col-sm-1">{{c.sequence.seq1}}</div>
                <div class="form-group col-sm-1">{{c.sequence.seq2}}</div>
                <div class="form-group col-sm-1">{{c.sequence.seq3}}</div>
                <div class="form-group col-sm-1">{{c.sequence.seq4}}</div>
                <div class="form-group col-sm-1">{{c.sequence.seq5}}</div>
                <div class="form-group col-sm-1">{{c.sequence.seq6}}</div>
                <div class="form-group col-sm-1">{{c.sequence.seq7}}</div>
                <div class="form-group col-sm-1">{{c.sequence.seq8}}</div>
                <div class="form-group col-sm-1">{{c.sequence.seq9}}</div>
                <div class="form-group col-sm-1">{{c.sequence.seq10}}</div>
                <div class="form-group col-sm-1">{{c.sequence.seq11}}</div>
                <div class="form-group col-sm-1">{{c.sequence.seq12}}</div>
            </div>
            <div class="row mt-3">
                <div class="form-group col-md-1">
                    <label class="form-label">Base</label>
                    <div class="form-group col-sm-1 eec">{{c.base_value}}</div>
                </div>
                <div class="form-group col-md-1">
                    <label class="form-label">TES</label>
                    <div class="form-group col-sm-1 eec">{{c.TES}}</div>
                </div>
                <div class="form-group col-md-1">
                    <label class="form-label">PCS</label>
                    <div class="form-group col-sm-1 eec">{{c.PCS}}</div>
                </div>
                <div class="form-group col-md-2">
                    <label class="form-label">TSS</label>
                    <div class="form-group col-sm-1 eec">{{c.TSS}}</div>
                </div>
            </div>
        </li>
    </ul>
</div>
<!-- Modal -->
<div class="modal fade" id="del_comp" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">ALERT</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this entry?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-bs-dismiss="modal">Cancel</button>
                <a href="{{ url_for('del_competition', student_id=skater._id, comp_id=c.comp_id)}}" type="button"
                    class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>
</div>
{%endfor%}

{%endblock%}