{% extends 'base.template.html' %}

{%block content%}

<h3>Lesson Requests by Students</h3>
<nav class="navbar navbar-light justify-content-start">
    <a class="btn btn-success mx-2 my-2" href="{{ url_for('coaches_list')}}">Request New</a>
    <a class="btn btn-dark mx-2 my-2" href="{{ url_for('lesson')}}">Show All</a>
    <form method="GET" class="d-flex">
        <input class="form-control me-2" type="text" name="location" placeholder="Search by location"
            aria-label="Search">
        <input class="form-control me-2" type="text" name="ice_type" placeholder="Search by Ice type"
            aria-label="Search">
        <button class="btn btn-outline-dark" type="submit">Search</button>
    </form>
</nav>
<div class="schetab table-responsive">
    <table class="table table-sm table-hover">
        <thead class="table-info">
            <tr>
                <th class="smhide" scope="col">Submission Date</th>
                <th class="smhide" scope="col"># Ticket Number </th>
                <th scope="col">Location</th>
                <th class="xshide" scope="col">Ice Type</th>
                <th scope="col">Lesson Date | Time</th>
                <th scope="col">Duration</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        {%for lesson in lesson|reverse %}
        <tbody>
            <tr>
                <th class="smhide" scope="row">{{lesson.timestamp.strftime("%d %b %y")}}</th>
                <td class="smhide"><small># {{lesson._id}}</small></td>
                <td>{{lesson.location}}</td>
                <td class="xshide">{{lesson.ice_type}}</td>
                <td>{{lesson.datetime.strftime("%d %b %y")}} | {{lesson.datetime.strftime("%H:%M")}}</td>
                <td>{{lesson.duration}}</td>
                <td><a href="{{url_for('process_lesson', lesson_id=lesson._id, coach_id=lesson.coach_id, student_id=lesson.student_id)}}"
                        class="edit-icon fas fa-chalkboard-teacher"></a></td>
                <td><a href="#" data-bs-toggle="modal" data-bs-target="#del_reqlesson"
                        class="del-icon fas fa-trash-alt"></a></td>
            </tr>
        </tbody>
        <!-- Modal -->
        <div class="modal fade" id="del_reqlesson" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">ALERT</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Are you sure you want to delete this submission?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" data-bs-dismiss="modal">Cancel</button>
                        <a href="{{ url_for('del_lesson', lesson_id=lesson._id)}}" class="btn btn-danger">Delete</a>
                    </div>
                </div>
            </div>
        </div>

        {%endfor%}
    </table>
</div>
{%endblock%}