{% extends 'base.template.html' %}

{%block content%}

<h3>Lesson Requests by Students</h3>
<nav class="navbar navbar-light justify-content-start">
    <a class="btn btn-dark mx-2 my-2" href="{{ url_for('lesson')}}">Show All</a>
    <form method="GET" class="d-flex">
        <input class="form-control me-2" type="text" name="location" placeholder="Search by location"
            aria-label="Search">
        <button class="btn btn-outline-dark" type="submit">Search</button>
    </form>
</nav>
<div class="cards">
    {%for lesson in lesson|reverse %}
    <div class="card rink m-3">
        <div class="card-body">
            <div>
                <a href="{{ url_for('del_lesson', lesson_id=lesson._id)}}" class="del-icon fas fa-trash-alt"></a>
                <a href="{{url_for('process_lesson', lesson_id=lesson._id, coach_id=lesson.coach_id, student_id=lesson.student_id)}}"
                    class="edit-icon fas fa-chalkboard-teacher"></a>
            </div>
            <h6 class="card-title">{{lesson.coach_id}}</h6>
            <h6 class="card-title">{{lesson.location}}</h6>
            <h6 class="card-title">{{lesson.ice_type}}</h6>
            <h6 class="card-title">{{lesson.datetime}}</h6>
            <h6 class="card-title">{{lesson.student_id}}</h6>
            <p class="card-title">Ticket # {{lesson._id}}</p>
        </div>
    </div>
    {%endfor%}
</div>
{%endblock%}