{% extends 'base.template.html'%}

{%block content%}

<h3>Edit Details for Coach {{old_values.coach_fname}} {{old_values.coach_lname}}</h3>
{%if errors|length > 0 %}
<div class="alert text-center alert-danger">
    PLEASE CORRECT ALL ERRORS AND RESUBMIT FORM
</div>
{%endif%}
{{coach_to_edit}}
<form method="POST" enctype="multipart/form-data">
    <div class="row mt-3">
        <div class="form-group col-md-6 mt-3">
            <label class="form-label">First Name </label>
            <input type="text" name="coach_fname" value="{{old_values.coach_fname}}" placeholder="given name"
                class="form-control form-control-sm {%if errors.blank_fname %} is-invalid {%endif%}" />
            <div class="invalid-feedback">{{ errors.blank_fname }}</div>
        </div>
        <div class="form-group col-md-6 mt-3">
            <label class="form-label">Last Name </label>
            <input type="text" name="coach_lname" value="{{old_values.coach_lname}}" placeholder="family name"
                class="form-control form-control-sm {%if errors.blank_lname %} is-invalid {%endif%}" />
            <div class="invalid-feedback">{{ errors.blank_lname }}</div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="form-group col-md-3 mt-3">
            <label class="form-label">NROC Level </label>
            <select name="nroc_level" class="form-control form-control-sm">
                <option {%if old_values.nroc_level == '0-Provisional Coach' %} selected {%endif%}>0-Provisional Coach
                </option>
                <option {%if old_values.nroc_level == '1-Coach' %} selected {%endif%}>1-Coach</option>
                <option {%if old_values.nroc_level == '2-Senior Coach' %} selected {%endif%}>2-Senior Coach</option>
                <option {%if old_values.nroc_level == '3-Master Coach' %} selected {%endif%}>3-Master Coach</option>
            </select>
        </div>
        <div class="form-group col-md-6 mt-3">
            <label class="form-label">Email </label>
            <input type="email" name="coach_email" value="{{old_values.coach_email}}" placeholder="name@somewhere.com"
                class="form-control form-control-sm {%if errors.blank_email %} is-invalid {%endif%}" />
            <div class="invalid-feedback">{{ errors.blank_email }}</div>
        </div>
        <div class="form-group col-md-3 mt-3">
            <label class="form-label">Phone </label>
            <input type="tel" name="coach_phone" value="{{old_values.coach_phone}}" pattern="+65 [0-9]{4} [0-9]{4}"
                max-length="9" placeholder="1234 5678"
                class="form-control form-control-sm {%if errors.blank_phone %} is-invalid {%endif%}" />
            <div class="invalid-feedback">{{ errors.blank_phone }}</div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="form-group col-md-8 mt-3">
            <label class="form-label">Philosophy </label>
            <input type="text" name="philosophy" value="{{old_values.philosophy}}" class="form-control form-control-sm"
                placeholder="sport coaching philosophy" />
        </div>
        <div class="form-group col-md-4 mt-3">
            <label class="form-label">Profile Image </label>
            <input type="file" name="profile" class="form-control form-control-sm" />
        </div>
    </div>
    <div>
        <a href="{{ url_for('coaches_list')}}" class="btn btn-outline-dark mt-3"> Back</a>
        <input type="submit" value="Update" class="btn btn-warning mt-3" />
    </div>
</form>

{%endblock%}